<div class="main">
  <div class="search-box">
    <mat-form-field class="search">
      <mat-icon matPrefix svgIcon="pokeball"></mat-icon>
      <mat-label>Buscar pokemon.</mat-label>
      <input matInput type="search" (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="container">
    <div class="show-pokemon">
      <div class="stats-pokemon">
        <mat-card class="card">
          aa<!-- <img src="{{aux.urlSprite}}"> -->
        </mat-card>
      </div>
      <div class="skills-pokemon">
        <mat-card class="card">aaaa</mat-card>
      </div>
    </div>
  </div>
</div>